* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2a2a2a;
    color: #f9f9f9;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}