.homepage {
    padding-top: 20px;
}

.homepage h2 {
    margin-bottom: 15px;
}

.homepage h3 {
    margin-bottom: 15px;
}

.homepage .accounts {
    margin-bottom: 15px;
    display: none;
}

.homepage .accounts h4 {
    margin-bottom: 5px;
}

.homepage .debit-cards {
    display: none;
    margin-bottom: 15px;
}

.homepage .debit-cards h4 {
    margin-bottom: 5px;
}

/* Toggle class */
.homepage .show {
    display: block;
}
/* Toggle class */

.homepage .payment-link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #2a2a2a;
    background-color: #08be32;
    border: 1px solid #08be32;
    font-weight: 600;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: 0.2s;
}

.homepage .payment-link:hover {
    color: #08be32;
    background-color: #2a2a2a;
}

.homepage .switch-buttons {
    margin-bottom: 20px;
}

.homepage .switch-buttons button {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100px;
    cursor: pointer;
    outline: none;
    background-color: #3b3b3b;
    color: #f9f9f9;
    border: 1px solid #3b3b3b;
    border-radius: 5px;
    transition: 0.2s;
}

.homepage .switch-buttons button:hover {
    background-color: #787878;
    border: 1px solid #787878;
}

.homepage .switch-buttons .active-btn {
    background-color: #787878;
    border: 1px solid #787878;
}

.homepage .logout-btn {
    outline: none;
    background-color: #f9f9f9;
    width: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #f9f9f9;
    color: #2a2a2a;
    font-weight: 600;
    margin-bottom: 40px;
    cursor: pointer;
    transition: 0.2s;
}

.homepage .logout-btn:hover {
    background-color: #2a2a2a;
    color: #f9f9f9;
}