.paying {
    padding-top: 20px;
}

.paying h2 {
    margin-bottom: 20px;
}

.paying .back-to-homepage-link {
    color: #f9f9f9;
    margin-bottom: 20px;
    display: block;
}

.paying .back-to-homepage-link:hover {
    text-decoration: none;
}

.paying form input {
    display: block;
    width: 200px;
    outline: none;
    background-color: #2a2a2a;
    border: 2px solid #acacac;
    color: #f9f9f9;
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 10px;
}

.paying form button {
    outline: none;
    color: #2a2a2a;
    background-color: #08be32;
    border: 1px solid #08be32;
    font-weight: 600;
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.paying form button:hover {
    background-color: #2a2a2a;
    color: #08be32;
}

.paying form .error-message {
    margin-bottom: 10px;
}