.register {
    margin-top: 20px;
}

.register h2 {
    margin-bottom: 10px;
}

.register form input {
    display: block;
    width: 200px;
    outline: none;
    background-color: #2a2a2a;
    border: 2px solid #acacac;
    color: #f9f9f9;
    border-radius: 5px;
    padding: 4px;
    margin-bottom: 10px;
}

.register form button {
    outline: none;
    background-color: #f9f9f9;
    width: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #f9f9f9;
    color: #2a2a2a;
    font-weight: 600;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.register form button:hover {
    background-color: #2a2a2a;
    color: #f9f9f9;
}

.register .error-message {
    margin-bottom: 10px;
}